<h1> Edit or Delete Comment </h1>

<%= form_for (@comment) do |f| %>

<%= f.label :content %>
<%= f.text_field :content %> <br>
<%= f.submit %>
<% end %>

<%= button_to "Delete Comment", {:controller => :comments,
      :action => 'destroy', :id => @comment.id }, :method => :delete %>
