<h1> Add New Comment </h1>

<p> <%= form_for [@user, @comment] do |f| %> </p>

<%= f.label :content%>
<p> <%= f.text_field :content %> </p>
<br>
<%= f.submit "Submit Comment" %>
<% end %>
<br>
<p> <%= link_to "User Index", users_path %> </p>
<p> <%= link_to "Picture Index", user_pictures_path %> </p>
