<div style="margin: 0 auto; width: 700px; text-align: center">
<h1> WELCOME TO QUE ES ESO!!</h1>
<br>
<h2> An App for the Visually Impaired </h2>
<br>
<h3> Sign Up </h3>
<br>
    <%= form_for @user, :url => '/signup' do |f| %>
    <%= f.text_field :name, placeholder: "Name" %>
<br>
    <%= f.text_field :email, placeholder: "Email" %>
<br>
    <%= f.password_field :password, placeholder: "Password" %>
<br> <br>
    <%= submit_tag 'Sign Up' %>

<% end %>
</div>
