<h1> User Show Page </h1>

<p> <%= @user.name %> </p>
<p> <% @userpictures.each do |userpicture| %> </p>
<p> <%= link_to userpicture.name, user_picture_path(@user, userpicture) %> </p>
<p> <%= image_tag "#{userpicture.attachment}", size: "100" %> </p>
    <% end %>

<p> <%= link_to 'Edit or Delete User', edit_user_path %> </p>
<p> <%= link_to "User Index", users_path %> </p>
<p> <%= link_to "Picture Index", user_pictures_path(current_user) %> </p>
