
<h1> Edit or Delete Picture </h1>

<%= form_for [@user, @picture] do |f| %>
<br>

<%= f.label :name %>
<%= f.text_field :name %> <br>
<br>
<%= f.label :attachment %>
<%= f.file_field :attachment %> <br>
<br>
<%= f.submit "Save Edit"%>
<% end %>
<br>
<%= button_to "Delete Picture", {:controller => :pictures,
      :action => 'destroy', :id => @picture.id }, :method => :delete %>
