<h1> Edit or Delete Picture </h1>

<%= form_for (user_picture_path) do |f| %>

<%= f.label :name %>
<%= f.text_field :name %> <br>

<%= f.label :attachment %>
<%= f.file_field :attachment %> <br>

<%= f.submit "Save Edit"%>
<% end %>

<%= button_to "Delete Picture", {:controller => :pictures,
      :action => 'destroy', :id => @picture.id }, :method => :delete %>
