<h1> Edit or Delete Picture </h1>

<%= form_tag user_picture_path(@picture), method: :patch do %>
<br>

<%= label_tag :name %>
<%= text_field_tag :name %> <br>
<br>
<%= label_tag :attachment %>
<%= file_field_tag :attachment %> <br>
<br>
<%= submit_tag "Save Edit"%>
<% end %>
<br>
<%= button_to "Delete Picture", {:controller => :pictures,
      :action => 'destroy', :id => @picture.id }, :method => :delete %>
