<h1> Picture Page </h1>

<p> Picture Name : <%= @picture.name %> </p>
<p> Uploaded by : <%= "#{current_user.name}" %> </p>
<p> Picture : <br> <%= image_tag "#{@picture.attachment}", size: "500" %> </p>
<h3> Recognition : <%= @tags %> </h3>
<br>
<br>

<% if @picture.user_id == current_user.id %>
<%= link_to 'Edit or Delete Picture', edit_user_picture_path %> <br>
<% end %>
<span style="border:15px"> <%= link_to "Picture Index", user_pictures_path %> <br>
