<!DOCTYPE html>
<html>
  <head>
    <title> Que Es Eso </title>
    <%= favicon_link_tag asset_path('qm.jpg') %>
    <%= csrf_meta_tags %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user %>
         <%= "#{current_user.name}" %>
    <%= link_to "Log Out", logout_path %>
    <% else %>
    <%= link_to "Sign Up", signup_path %> or
    <%= link_to "Log In", login_path %>
    <% end %>


    <%= yield %>
  </body>
</html>
